# Tests for Amphibole functions

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("example_table.csv")

In [3]:
df['Fe2O3'] = 0

In [4]:
df

    SiO2  TiO2  Al2O3    FeO    MnO    MgO    CaO  Na2O   K2O  Fe2O3
0  43.55  1.28  13.62   9.62   0.00  14.53  10.25  2.51  0.64      0
1  52.50  0.00   4.40  20.40   0.30  18.00   0.50  0.10  0.00      0
2  49.01  0.20  14.91   0.55   0.00  28.62   0.23  1.46  0.00      0
3  40.80  0.00  18.30  25.00   0.40  11.40   0.20  1.60  0.00      0
4  38.41  0.48  19.72  35.53   2.30   0.03   0.03  1.16  0.04      0
5  56.78  0.00   0.96  13.31   0.33  24.71   0.83  0.12  0.00      0
6  52.50  0.00   1.60  27.30   0.80  14.70   0.60  0.10  0.00      0
7  49.55  0.00   0.12  40.14   1.84   4.89   0.70  0.00  0.00      0
8  50.60  0.00   0.04  36.10   5.80   6.40   0.40  0.05  0.00      0
9  55.27  0.00   0.34   4.52  16.62  19.18   1.19  0.26  0.00      0

In [5]:
from Amphibole import normalization

In [6]:
final = normalization(df)

In [7]:
final

         Si        Ti        Al      Fe2+      Fe3+
0  6.394864  0.141378  2.357114  0.903561  0.277777
1  7.663776  0.000000  0.757001  2.490403  0.000000
2  6.651607  0.020417  2.384953  0.062425  0.000000
3  6.095160  0.000000  3.222080  3.123352  0.000000
4  6.080335  0.057155  3.679175  4.703644  0.000000
5  7.938361  0.000000  0.158186  1.556215  0.000000
6  7.841373  0.000000  0.281652  3.409977  0.000000
7  7.998719  0.000000  0.022831  5.418888  0.000000
8  7.949928  0.000000  0.007407  4.743248  0.000000
9  7.989093  0.000000  0.057922  0.546390  0.000000