# Tests for Amphibole functions

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("example_table.csv")

In [38]:
df['Fe2O3'] = 0

In [42]:
df

    SiO2  TiO2  Al2O3    FeO    MnO    MgO    CaO  Na2O   K2O  Fe2O3
0  43.55  1.28  13.62   9.62   0.00  14.53  10.25  2.51  0.64      0
1  52.50  0.00   4.40  20.40   0.30  18.00   0.50  0.10  0.00      0
2  49.01  0.20  14.91   0.55   0.00  28.62   0.23  1.46  0.00      0
3  40.80  0.00  18.30  25.00   0.40  11.40   0.20  1.60  0.00      0
4  38.41  0.48  19.72  35.53   2.30   0.03   0.03  1.16  0.04      0
5  56.78  0.00   0.96  13.31   0.33  24.71   0.83  0.12  0.00      0
6  52.50  0.00   1.60  27.30   0.80  14.70   0.60  0.10  0.00      0
7  49.55  0.00   0.12  40.14   1.84   4.89   0.70  0.00  0.00      0
8  50.60  0.00   0.04  36.10   5.80   6.40   0.40  0.05  0.00      0
9  55.27  0.00   0.34   4.52  16.62  19.18   1.19  0.26  0.00      0

In [46]:
df2 = df.copy(deep=True)
df2.loc[2,"SiO2"] = 500
df2

     SiO2  TiO2  Al2O3    FeO    MnO    MgO    CaO  Na2O   K2O  Fe2O3
0   43.55  1.28  13.62   9.62   0.00  14.53  10.25  2.51  0.64      0
1   52.50  0.00   4.40  20.40   0.30  18.00   0.50  0.10  0.00      0
2  500.00  0.20  14.91   0.55   0.00  28.62   0.23  1.46  0.00      0
3   40.80  0.00  18.30  25.00   0.40  11.40   0.20  1.60  0.00      0
4   38.41  0.48  19.72  35.53   2.30   0.03   0.03  1.16  0.04      0
5   56.78  0.00   0.96  13.31   0.33  24.71   0.83  0.12  0.00      0
6   52.50  0.00   1.60  27.30   0.80  14.70   0.60  0.10  0.00      0
7   49.55  0.00   0.12  40.14   1.84   4.89   0.70  0.00  0.00      0
8   50.60  0.00   0.04  36.10   5.80   6.40   0.40  0.05  0.00      0
9   55.27  0.00   0.34   4.52  16.62  19.18   1.19  0.26  0.00      0

In [ ]:
df

In [ ]:
from Amphibole import normalization

In [ ]:
normalized_dataset = normalization(df)

In [ ]:
# dataset with elements normalized, must add some other calculations
normalized_dataset